body {
    background-image: url('../images/bg/seamless leather_000_441a1b.jpg'); 
    background-position: center center;
    background-size: cover;
}

div.wrapper {
    background-image: url('../images/bg/seamless paper_0014_15.jpg'); 
    background-position: center center;
    background-size: contain;
    padding: 5%;
}

@media screen and (max-width: 675px){

    body {
        font-size: 15px;
        letter-spacng: 0.01em
    }

    div.wrapper {
        padding: 5vw;
    }
}


.full-menu-container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media screen and (min-width: 575px) and (max-width: 675px){
    .full-menu-container {
        width: 95%;
        padding-right: 4px;
        padding-left: 4px;
        margin-right: auto;
        margin-left: auto;
    }
}


@media screen and (min-width: 675px) and (max-width: 992px){
    .full-menu-container {
        width: 95%;
        padding: 0;
    }
}

@media screen and (min-width: 992px){
.full-menu-container {
    width: 75%;
}
}

.beer-subpage-header {
    background: #82604D url("../images/bg/beer.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/* Food Menu Section */

#locavino-food-menu {
	padding: 100px 0 60px 0;
}

.menu-title {
    letter-spacing: .05em;
    font-size: 5.3rem;
    color: #000000;
    font-family: 'TheNational-Bold';
    text-transform: uppercase; 
    font-weight: 400;
}

.menu-subtitle {
    font-family: 'TheNational-Bold';
    letter-spacing: .2em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; 
    font-size: 1.5rem;
    font-weight: 600;
    color: #00ACB8;
    text-shadow: #850900dd 4px 3px 0px;

}

.menu-section-subtitle {
	padding: 10px 0;
    text-transform: uppercase;
    font-size: 1.125rem;
}

#locavino-food-menu .menu-item {
	margin: 45px 0;
	font-size: 1.125rem;
}

.menu-warning {
    font-size: 0.95rem; 
}



#locavino-food-menu img {
    width: 18px;
    vertical-align:middle
}

#locavino-food-menu .menu-section hr {
	margin: 0 auto;
}
#locavino-food-menu .menu-section {
	margin: 0 20px 80px;
}

@media screen and (max-width: 675px){
    #locavino-food-menu .menu-section {
    margin-left: 0 !important;
    margin-right: 0 !important;
    }
}
#locavino-food-menu .menu-section-title {
	font-size: 2rem;
	display: block;
	font-weight: 400;
	color: #444;
	margin: 20px 0;
	text-align: center;
}

#locavino-food-menu .menu-item-name {
	font-weight: 400;
	font-size: 1.25rem;
    color: #571B17;
    font-weight: 800;
	margin-bottom: 10px;
}
#locavino-food-menu .menu-item-description {
    font-size: 1.06rem;
    color: black;
	width: 85%;
}
#locavino-food-menu .menu-item-price {
	float: right;
	font-weight: 400;
	color: #555;
	margin-top: -36px;
}

@media screen and (max-width: 675px){
    #locavino-food-menu .menu-item-description {
        width: 90%;
    }

    #locavino-food-menu .menu-item-price {
        font-size: 1rem;
        font-weight: 500;
    }
}



.menu-download-btn {
    padding-bottom: 8vh;
}


@media screen and (min-width: 575) and (max-width: 768px){
    .no-padding-menu-mobile {
padding: 0 !important;
    }
}
/* 
.vegetarian-option span, .vegetarian-option img {
    display:inline-block;
    vertical-align:top;
} */